<div class="col-md-4">
  <h1>Admin Login</h1>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="register()">
    <div class="form-group">
      <label>Admin Name</label>
      <input type="text" class="form-control" name="username" ng-model="adminLoginForm.username" required>
    </div>
    <div class="form-group">
      <label>Admin Password</label>
        <input type="password" class="form-control" name="password" ng-model="adminLoginForm.password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
      </div>
  </form>
</div>